p {
    font-size: 16px !important;
}
.full-main-header {
    background-image: url('../img/mockup.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.container.gallery-container {
    /* background-color: #fff; */
    color: #fff;
    min-height: 100vh;
    padding: 30px 50px;
}
#icon-body {
    right: 100%;
    top:35%;
    position: absolute;
    float: right;
}
.icons-hanging {
    list-style: none;
        padding-left: 16px;
        padding-right: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
}
.icons-hanging li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-links {
    padding-left:0px;
    list-style: none;
}
.footer-links li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.icons-hanging li a {
    color: white;
}
#social-icons-body {
    position: fixed;
}
.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #fff;
}
#next-head {
    background-image: url('../img/Untitled-1.jpg');
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#next-head .container {
    padding-top:35px;
}
.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
.masthead {
    color: white !important;
}
#mainNav a {
    color: white !important;
}
@media(min-width: 768px) {
.icons-hanging {
        background-color: black;
        padding-left: 16px;
        padding-right: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
.title {
    font-size: 70px !important;
}
}
