body,a,h1,h2,h4,button{
    font-family: 'Montserrat' !important;
}
p {
    font-size: 16px !important;
}
.full-main-header {
    /* background-image: url('../img/mockup.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.container.gallery-container {
    /* background-color: #fff; */
    color: #fff;
    /* min-height: 100vh; */
    padding: 30px 50px;
}
#icon-body {
    right: 100%;
    top:35%;
    position: absolute;
    float: right;
}
.icons-hanging {
    background-color: #4d0f28;
    list-style: none;
        padding-left: 16px;
        padding-right: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
}
.icons-hanging li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.icons-hanging li a {
    color: white;
}
#social-icons-body {
    position: fixed;
    z-index: 555;
}
.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #fff;
}
h2 {
    font-size: 1.5rem !important;
}
.founder {
    /* margin-top: 30px; */
    padding-top: 30px;
}
.next-head {
    /* background-image: url('../img/211.png'); */
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* background-size: cover;
    background-repeat: no-repeat; */
}
.founder {
    /* background-image: url('../img/21.png'); */
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
#next-head .container {
    padding-top:35px;
}
/* #vision {
    background-size: cover;
    background-repeat: no-repeat;
} */
/* mobile view start */
@media(max-width:568px){
    #home {
        background-image: url('../img/mob2.png');
        background-repeat: no-repeat;
        background-size: 165%;
        background-position-x: center;
        background-position-y: 9px;
    }
    #about h2{
        font-size:1.3rem !important;
    }
    .masthead {
        padding-top:150px !important;
        height: 94vh;
    }
    .text-typing {
        line-height: 33px;
        padding-top: 30px !important;
        font-size: 1rem !important;
        margin-right: 72px;
        margin-left: 38px;
    }
    #mobile-img{
        display:none !important;
    }
    #ctc-btn{
        position: absolute;
        top: 90%;
    }
    #human{
        background-image: none !important;
    }
    #about h2 {
        font-weight: bold;
        letter-spacing: 5px;
        /* font-size: 2rem !important; */
    }
    #about {
        background-size: 758px 71px !important;
    }
    #desktop {
        display: none;
    }
    .founder .text-center{
        margin-top:20px;
        margin-bottom: 20px;
    }
    #features h2 {
        font-weight: 900;
        line-height: 36px;
        font-size: 2rem !important;
    }
    #features .linkediting {
        padding-left: 0px !important;
    }
    #mobile {
        text-align: center;
    }
    #feature-img{
        display: none;
    }
    #full-faq {
        padding-top: 50px !important;
    }
    #full-faq .faq-area .card .card-header h2 button {
        font-size: 1rem !important;
    }
    .section-heading h2{
        font-weight: 600px !important;
    }
    #mainNav.navbar-shrink {
        background: #fff !important;
    }
    #mainNav .navbar-toggler {
        color: #4d0f28 !important;
    }
    .navbar-nav {
        margin-left: 0px !important;
    }
    .card button {
        font-size: 1rem !important;
        font-weight: 600 !important;
        text-align: left;
        text-transform: none;
        padding-bottom: 8px;
    }
    #mobile-col-row{
        text-align: center;
    }
    /* dark mode start */
    .dark-mode #home{
        background-color: black !important;
        background-repeat: no-repeat;
        background-size: 165%;
        background-position-x: center !important;
        background-position-y: 13px;
    }
    .dark-mode #about {
    background: black !important;
    }
    .dark-mode #about h2{
        color: white !important;
    }
    .dark-mode #mainNav .navbar-toggler {
        color: white !important;
    }
    .text-typing {
        padding-left:39px;
    }
    .download{
        text-align: center;
    }
    .download img{
        width: 50%;
    }
    .first-music-label{
        width: 89%;
    }
    .second-music-label{
            width: 76%;
    }
    .third-music-label {
        width: 79%;
    }
    .fourth-music-label {
        width: 50%;
    }
    .fifth-music-label{
            width: 79%;
    }
    .sixth-music-label{
            width: 74%;
    }
    .seventh-music-label {
        width: 80%;
    }
    .eight-music-label {
        width: 76%;
    }
    .ninth-music-label {
        width: 83%;
    }
    #features div.card{
        border-width: 0px !important;
        border-color: grey !important;
    }
    #features .card-header{
        background-color: white !important;
        padding: 0.25rem 1.25rem;
        border-bottom: solid 3px #e3e8ec;
    }
    #features .accordion > .card {
        overflow: visible !important;
    }
}


@media (min-width: 569px) and (max-width: 767px){
    #home{
        background-image:url('../img/Artboard\ 1.png');
    }
    #mainNav {
        border-bottom: none;
    }
    #mainNav.navbar-shrink {
        background: black;
    }
    .full-main-header {
        height: 90vh;
    }
    body {
        padding: 0;
    }
    h2 {
        font-size: 1rem !important;
    }
    .content-section {
        padding-top: 20px;
    }
    #about-img {
        width: 100% !important;
        height: 95% !important;
    }
    .icons-hanging {
        background-color: #4d0f28;
        z-index: 999;
    }
    #about-img img{
        width: 100% !important;
    }
    .text-typing {
        line-height: 61px;
        padding-top: 87px;
    }
    /* #about h2 {
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 2rem !important;
    } */
    .download img{
        width: 70%;
    }
    .music-label{
        margin-left:50px;
    }
    .card button {
        font-size: 1rem !important;
        font-weight: 600 !important;
        text-align: left;
        text-transform: none;
        padding-bottom: 8px;
    }
}


/* header styling start */
.navbar-logo-img {
    width: 170px;
    height: 47px;
}
#mainNav a {
    color: #4d0f28 !important;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0px !important;
}
#contactus {
    border-radius: 70px;
}
#moon-img{
    padding-top: 0px;
    color: black !important;
}

/* header styling end */


/* about us start */
#about {
    background-repeat: no-repeat;
    background-size: 1690px 800px;
}

/* about us end */

/* founder styling start */
.founder {
    background-image: linear-gradient(to top right, #4d0f28,#741418);
    color: white !important;
}
.founder h2 {
    letter-spacing: 5px;
}
.founder-info{
    margin-top: 70px !important;
}
/* founder styling end */

/* faq section start */
.section-heading {
    text-align: center;
    margin-bottom: 40px;
  }
  .section-heading h2 {
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 5px;
    text-align: center;
    color: #4d0f28;
  }
  
  #full-faq {
    padding: 120px 0;
  }
  
  #full-faq .faq-area .card .card-header {
    border: 0;
    padding: 0;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-bottom: solid 3px #e3e8ec;
    background-color: #fff;
  }
  
  #full-faq .faq-area .card .card-header h2 button {
    padding: 20px 30px;
    font-weight: 600;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #4d0f28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  #full-faq .faq-area .card .card-header h2 button:focus {
    box-shadow: none;
  }
  #full-faq .faq-area .card .card-header h2 button span {
    color: #96a9b8;
  }
  
  #full-faq .faq-area .card .card-header.active {
    background-color: #fff;
  }
  
  #full-faq .faq-area .card .card-header.active span {
    color: #4d0f28;
  }
    .more-less {
		float: right;
  }
/* faq section end */

/* features section start*/
    #features {
        margin-top: 5rem !important;
        /* padding-top: 10px; */
    }
    #features ul.linkediting {
        list-style: none;
    }
    #features .linkediting li {
        font-size: 1.5rem;
        font-weight: bolder;
        padding-bottom: 25px;
    }
    #features .linkediting .accordion .card button {
        color: grey !important;
    }
    #features .linkediting .accordion .card button:hover,#features .linkediting .accordion .card button:focus,#features .linkediting .accordion .card button.first{
        color: #4d0f28 !important;
    }
/* features section end */
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent;
    background-color: transparent;
}
/* nightmode styling start*/
.dark-mode {
    background-color: black !important;
    color: white !important;
}
.dark-mode #mainNav a {
    color: white !important;
}
.dark-mode #mainNav.navbar-shrink {
    background: black !important;
}
.dark-mode #home{
    background-position: 0% 50%;
}
.dark-mode #moon-img{
    color: white !important;
}
.dark-mode .mast-head {
    color: white !important;
}
.dark-mode .text-typing{
    line-height: 61px;
    padding-top: 87px;
}
.dark-mode .founder {
    background-image: none;
}
.dark-mode #full-faq .card{
    background-color: transparent !important;
}
.dark-mode #full-faq h2{
    color: white !important;
}
.dark-mode #full-faq button{
    color: black !important;
}
.dark-mode .footer-links li a {
    color: white !important;
}
.dark-mode .copyright-area a{
    color: white;
}
.dark-mode #features .linkediting li a:hover,.dark-mode #features .linkediting li a:focus, .dark-mode #features .linkediting li a.first{
    color: white !important;
}
.dark-mode .btn-primary {
    background-color: #fff;
    color: black;
}
.dark-mode .icons-hanging{
    background-color: black;
}
.dark-mode #features .card{
    background-color: black !important;
}
.dark-mode #features .card-header {
    background-color: black !important;
}
/* nightmode styling end */
.founder .text-center a{
    color: white;
}
/* desktop view start*/
@media(min-width: 768px) {
    #home{
        background-image:url('../img/Artboard\ 1.png');
    }
    #mobile {
        display: none;
    }
    #mobile-img{
            width: 90%;
            margin-top: 16px;
            display: inline;
            margin-right: 74px;
    }
    .text-typing {
        line-height: 61px;
    }
    .icons-hanging {
            background-color: #4d0f28;
            padding-left: 16px;
            padding-right: 15px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    .title {
        font-size: 70px !important;
        }
    #about h2 {
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 2rem !important;
    }
    #features h2 {
        font-weight: 900;
        line-height: 47px;
        font-size: 2.5rem !important;
    }
    .dark-mode #home {
        background: linear-gradient( 119deg, black 61.5%, white 38%) !important;
    }
    .dark-mode #about {
    background: linear-gradient( 119deg, white 41%, black 40%) !important;
    }
    .dark-mode #about h2{
        color: black !important;
    }
    .accordion.faq-area h3 button{
        font-size: large;
    }
    #full-faq .faq-area .card {
        border: 0;
        margin-bottom: 16px;
        overflow: visible;
      }
    #desktop {
        margin-left: 50px;
    }
    .download img{
        width: 100%;
    }
    .card-header{
        padding: 0px !important;
    }
    .card button{
        font-size: 1rem !important;
        font-weight: 600 !important;
        text-align: left;
            text-transform: none;
            padding-bottom: 8px;
    }
    .first-music-label{
        width: 89%;
        position: absolute;
        left: 157px;
        z-index: 99;
        top: -54px;
    }
    .second-music-label{
            z-index: 99;
            width: 76%;
            position: absolute;
            left: 260px;
            top: -73px;
    }
    .third-music-label {
        width: 79%;
        position: absolute;
        z-index: 99;
        margin-top: -100px;
        margin-left: 6px;
    }
    .fourth-music-label {
        width: 50%;
        position: absolute;
        z-index: 99;
        margin-top: -140px;
        margin-left: 160px;
    }
    .fifth-music-label{
            width: 79%;
            position: absolute;
            z-index: 99;
            top: -221px;
            left: 203px;
    }
    .sixth-music-label{
            position: absolute;
            z-index: 99;
            width: 74%;
            top: -223px;
            left: 210px;
    }
    .seventh-music-label {
        position: absolute;
        z-index: 99;
        width: 80%;
        left: 204px;
        top: -288px;
    }
    .eight-music-label {
        position: absolute;
        z-index: 99;
        width: 76%;
        left: 217px;
        top: -301px;
    }
    .ninth-music-label {
        position: absolute;
        z-index: 99;
        width: 83%;
        left: 199px;
        top: -407px;
    }
    #features div.card{
        border-width: 0px !important;
        border-color: #fff !important;
    }
    #features .card-header{
        background-color: white !important;
        border-bottom: none !important;
    }
    #features .accordion > .card {
        overflow: visible !important;
        flex-direction: row !important;
    }
}
/* footer styling start */
#primary-footer p {
    font-size: 14px !important;
}
#primary-footer h4 {
    font-size: 14px !important;
    letter-spacing: 0px;
    font-weight: 800;
}
.footer-links {
    padding-left:0px;
    list-style: none;
}
.footer-links li {
    display: inline-block;
    padding-left: 10px;
}
#primary-footer .footer-links li{
    display: inline-block;
    padding-right: 10px;
}
/* footer styling end */