body,a,h1,h2,h4{
    font-family: 'Montserrat' !important;
}
p {
    font-size: 16px !important;
}
.full-main-header {
    /* background-image: url('../img/mockup.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.container.gallery-container {
    /* background-color: #fff; */
    color: #fff;
    min-height: 100vh;
    padding: 30px 50px;
}
#icon-body {
    right: 100%;
    top:35%;
    position: absolute;
    float: right;
}
.icons-hanging {
    list-style: none;
        padding-left: 16px;
        padding-right: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
}
.icons-hanging li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.icons-hanging li a {
    color: white;
}
#social-icons-body {
    position: fixed;
    z-index: 555;
}
.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #fff;
}
h2 {
    font-size: 1.5rem !important;
}
.founder {
    /* margin-top: 30px; */
    padding-top: 30px;
}
.next-head {
    /* background-image: url('../img/211.png'); */
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* background-size: cover;
    background-repeat: no-repeat; */
}
.founder {
    /* background-image: url('../img/21.png'); */
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
#next-head .container {
    padding-top:35px;
}
/* #vision {
    background-size: cover;
    background-repeat: no-repeat;
} */
.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}
img.custom {
    border: 3px solid white;
    padding: 6px;
}
img.custom:hover,
img.custom:focus {
  width: 260px !important;
  height: 300px !important;
  border: 3px dotted white !important;
  transition: transform .2s;
  transform: scale(1.0);
}
/* mobile view start */
@media(max-width:568px){
    #about h2{
        font-size:1.3rem !important;
    }
    .masthead {
        padding-top:150px !important;
        height: 94vh;
    }
    .text-typing {
        line-height: 61px;
        padding-top: 0px !important;
        font-size: 1.5em !important;
    }
    #mobile-img{
        display:none !important;
    }
    /* #contact-us{
        margin-top:70px;
        padding-top:60px;
    } */
    #ctc-btn{
        position: absolute;
        top: 83%;
    }
    #human{
        background-image: none !important;
    }
    #about h2 {
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
        /* font-size: 2rem !important; */
    }
    #about {
        background-size: 758px 71px !important;
    }
    #desktop {
        display: none;
    }
    #features h2 {
        font-weight: 900;
        line-height: 36px;
        font-size: 2rem !important;
    }
    #features .linkediting {
        padding-left: 0px !important;
    }
    #features .linkediting li{
        text-align: center;
        font-size: 1rem !important;
    }
    #mobile {
        text-align: center;
    }
    #feature-img{
        display: none;
    }
    #full-faq {
        padding-top: 50px !important;
    }
    #full-faq .faq-area .card .card-header h2 button {
        font-size: 1rem !important;
    }
    .section-heading h2{
        font-weight: 600px !important;
    }
    #mainNav.navbar-shrink {
        background: #fff !important;
    }
    #mainNav .navbar-toggler {
        color: #4d0f28 !important;
    }
    .navbar-nav {
        margin-left: 0px !important;
    }
    /* dark mode start */
    .dark-mode #home{
        background: black !important;
    }
    .dark-mode #about {
    background: black !important;
    }
    .dark-mode #about h2{
        color: white !important;
    }
    .dark-mode #mainNav .navbar-toggler {
        color: white !important;
    }
}


@media(max-width: 768px) {
    #mainNav {
        border-bottom: none;
    }
    #mainNav.navbar-shrink {
        background: black;
    }
    .full-main-header {
        height: 90vh;
    }
    body {
        padding: 0;
    }
    h2 {
        font-size: 1rem !important;
    }
    .content-section {
        padding-top: 20px;
    }
    #about-img {
        width: 100% !important;
        height: 95% !important;
    }
    .icons-hanging {
        background-color: black;
        z-index: 999;
    }
    #about-img img{
        width: 100% !important;
    }
    /* #about h2 {
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 2rem !important;
    } */
}


/* header styling start */
.navbar-logo-img {
    width: 170px;
    height: 47px;
}
#mainNav a {
    color: #4d0f28 !important;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0px !important;
}
#contactus {
    border-radius: 70px;
}
#moon-img{
    padding-top: 0px;
    color: black !important;
}
.text-typing {
    line-height: 61px;
    padding-top: 177px;
}
/* header styling end */


/* about us start */
#about {
    background-repeat: no-repeat;
    background-size: 1500px 800px;
}

/* about us end */

/* founder styling start */
.founder {
    background-image: linear-gradient(to top right, #4d0f28,#741418);
    color: white !important;
}
.founder h2 {
    letter-spacing: 5px;
}
.founder-info{
    margin-top: 70px !important;
}
/* founder styling end */

/* faq section start */
.section-heading {
    text-align: center;
    margin-bottom: 40px;
  }
  .section-heading h2 {
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 5px;
    text-align: center;
    color: #4d0f28;
  }
  
  #full-faq {
    padding: 120px 0;
  }
  
  #full-faq .faq-area .card {
    border: 0;
    margin: 8px 0;
    overflow: visible;
  }
  
  #full-faq .faq-area .card .card-header {
    border: 0;
    padding: 0;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-bottom: solid 3px #e3e8ec;
    background-color: #f5f8fa;
  }
  
  #full-faq .faq-area .card .card-header h2 button {
    padding: 20px 30px;
    font-weight: 600;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #4d0f28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  #full-faq .faq-area .card .card-header h2 button:focus {
    box-shadow: none;
  }
  #full-faq .faq-area .card .card-header h2 button span {
    color: #96a9b8;
  }
  
  #full-faq .faq-area .card .card-header.active {
    background-color: #fffef8;
  }
  
  #full-faq .faq-area .card .card-header.active span {
    color: #4d0f28;
  }
  
/* faq section end */

/* features section start*/
    #features {
        margin-top: 5rem !important;
        /* padding-top: 10px; */
    }
    #features ul.linkediting {
        list-style: none;
    }
    #features .linkediting li {
        font-size: 1.5rem;
        font-weight: bolder;
        padding-bottom: 25px;
    }
    #features .linkediting li a {
        color: grey !important;
    }
    #features .linkediting li a:hover,#features .linkediting li a:focus,#features .linkediting li a.first{
        color: #4d0f28 !important;
    }
    #features .first-one {
        width: 90%;
        margin-left:35px;
        border-radius: 5px;
    }
    #features .second-one {
        width: 59%;
        top: 239px;
        position: absolute;
        display: block;
        border-radius: 5px;
        height: 32%;    
    }
/* features section end */

/* nightmode styling start*/
.dark-mode {
    background-color: black !important;
    color: white !important;
}
.dark-mode #mainNav a {
    color: white !important;
}
.dark-mode #mainNav.navbar-shrink {
    background: black !important;
}
.dark-mode #home{
    background-position: 0% 50%;
}
.dark-mode #moon-img{
    color: white !important;
}
.dark-mode .mast-head {
    color: white !important;
}
.dark-mode .text-typing{
    line-height: 61px;
    padding-top: 177px;
}
.dark-mode .founder {
    background-image: none;
}
.dark-mode #full-faq .card{
    background-color: transparent !important;
}
.dark-mode #full-faq h2{
    color: white !important;
}
.dark-mode #full-faq button{
    color: black !important;
}
.dark-mode .footer-links li a {
    color: white !important;
}
.dark-mode .copyright-area a{
    color: white;
}
.dark-mode #features .linkediting li a:hover,.dark-mode #features .linkediting li a:focus, .dark-mode #features .linkediting li a.first{
    color: white !important;
}
.dark-mode .btn-primary {
    background-color: #fff;
    color: black;
}
/* nightmode styling end */

/* desktop view start*/
@media(min-width: 768px) {
#mobile {
    display: none;
}
.icons-hanging {
        background-color: black;
        padding-left: 16px;
        padding-right: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
.title {
    font-size: 70px !important;
    }
    #about h2 {
        color: white;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 2rem !important;
    }
    #features h2 {
        font-weight: 900;
        line-height: 47px;
        font-size: 2.5rem !important;
    }
    .dark-mode #home {
        background: linear-gradient( 119deg, black 61.5%, white 38%) !important;
    }
    .dark-mode #about {
    background: linear-gradient( 119deg, white 41%, black 40%) !important;
    }
    .dark-mode #about h2{
        color: black !important;
    }
}
/* footer styling start */
#primary-footer .linkediting {
    list-style: none;
    padding-left: 0px;
}
#primary-footer .linkediting li {
    padding-bottom: 14px;
    font-size: 14px;
}
#primary-footer p {
    font-size: 14px !important;
}
#primary-footer h4 {
    font-size: 14px !important;
    letter-spacing: 0px;
    font-weight: 800;
}
.footer-links {
    padding-left:0px;
    list-style: none;
}
.footer-links li {
    display: inline-block;
    padding-left: 10px;
}
#primary-footer .footer-links li{
    display: inline-block;
    padding-right: 10px;
}
/* footer styling end */